.text-head{
    font-size: 14px!important;
    font-family: 'Marcellus', serif;
}
.text-bottom{
    font-size: 13px!important;
    font-family: 'Marcellus', serif;

}
.dollars{
    font-size: 23px!important;
    color: #495057!important;
    font-family: 'Marcellus', serif;
}
.badge{
    color:#62B77D!important;
    background-color: #CAECDE!important;
}
